.characters-list {
    display: flex;
    flex-wrap: wrap;
}

.characters-item {
    width: calc(100%/2);
}

@media (min-width: 640px) {
    .characters-item {
        width: calc(100%/3);
    }
}
@media (min-width: 768px) {
    .characters-item {
        width: calc(100%/4);
    }
}
@media (min-width: 1024px) {
    .characters-item {
        width: calc(100%/5);
    }
}
