.layout {
    background-image: url(assets/play-dots.png);
    background-color: var(--h-gray-50);
    background-size: 32px 32px;
    min-height: 100vh;
}
.layout__content {
    padding-top: 1rem;
}
