.navbar {
  background: white;
  padding: 1rem 0;
  box-shadow: rgb(38 50 56 / 15%) 0 4px 15px;
}

.navbar__form {
  display: flex;
  align-items: center;
}
.navbar__form > * {
  margin-right: .5rem;
}

.navbar__species-chip {

}
