button.pagination__button {
    font-weight: bold;
    width: 2.5rem;
    height: 2.5rem;
}

button.pagination__button--gap {
    border-color: var(--h-gray-50);
    background-color: unset;
}
button.pagination__button--gap:hover {
    filter: unset;
}
