.round-text-input {
  box-sizing: border-box;
  height: 2rem;
  color: var(--h-primary);
  font-size: 1rem;
  border-width: 2px;
  border-radius: 1rem;
  border-color: var(--h-gray);
  border-style: solid;
  background-color: var(--h-gray-50);
  padding-left: .5rem;
  padding-right: .5rem;
}
.round-text-input:hover {
  background-color: var(--h-gray-100);
}
.round-text-input:focus {
  outline:none;
  background-color: var(--h-gray-100);
  border-color: var(--h-primary);
}
