.round-button {
    height: 2rem;
    width: 2rem;
    color: var(--h-font);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(--h-gray);
    border-style: solid;
    background-color: var(--h-gray-50);
}

.round-button:hover {
    /* make it a little darker on hover */
    filter: brightness(.95);
}
.round-button:disabled {
    color: var(--h-gray-900);
    filter: unset;
    cursor: unset;
}

.round-button--active {
    color: var(--h-gray-100);
    border-color: var(--h-primary);
    background-color: var(--h-primary);
}
